/* Put Extra style Here Start */

/* Select2 Style Start */
.select2-container--default .select2-selection--single {
    border: 1px solid var(--border-color)!important;
    height: 50px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px!important;
    height: 50px!important;
    padding: 13px 27px 13px 20px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px!important;
    width: 32px!important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--border-color)!important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--primary-color)!important;
}
.select2-dropdown {
    border: 1px solid var(--border-color)!important;
    box-shadow: 0 5px 12px rgb(0 0 0 / 10%)!important;
}
/* Select2 Style End */

/* Maintainer Ticket Details Start */
.dropify-wrapper {
    border: 1px solid var(--border-color)!important;
}
/* Maintainer Ticket Details End */

/* Put Extra style Here End */

/* Admin Sidebar Dark Theme */
.vertical-menu {
    background-color: #173a3a !important;
    top: 0 !important;
}

.vertical-menu .sidebar-brand-box {
    background-color: #ffffff !important;
    padding: 8px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-menu .sidebar-brand-box .logo-lg img,
.vertical-menu .sidebar-brand-box .logo-sm img {
    max-height: 90px;
}

#sidebar-menu {
    padding-top: 6px !important;
}

#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
    color: #e8f3f2 !important;
}

#sidebar-menu ul li a i {
    color: #cde2e0 !important;
}

#sidebar-menu ul li a:hover,
#sidebar-menu ul li a:focus {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
}

#sidebar-menu ul li a:hover i,
#sidebar-menu ul li a:focus i {
    color: #ffffff !important;
}

#sidebar-menu ul li.mm-active > a,
#sidebar-menu ul li a.active {
    color: #ffffff !important;
    background-color: rgb(178 52 35) !important;
    border-left: 3px solid #9fe7d7;
}

#sidebar-menu ul li.mm-active > a i,
#sidebar-menu ul li a.active i {
    color: #b23423 !important;
}

#sidebar-menu ul li ul.sub-menu li a {
    color: #d5e8e6 !important;
}

#sidebar-menu ul li ul.sub-menu li a::before {
    background: #9fe7d7 !important;
}

#sidebar-menu ul li ul.sub-menu li a:hover,
#sidebar-menu ul li ul.sub-menu li a:focus {
    color: #ffffff !important;
}

/* Collapsed sidebar hover panel */
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
    color: #ffffff !important;
}

/* Admin sidebar headings */
.vertical-menu .menu-title {
    color: #b9d2cf !important;
}

/* Headings bold */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}
